html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
#a{
    display:flex;
    width:25%;
    height:25%;
}
#b{
    display:flex;
    width:25%;
    height:25%;
}
#c{
    display:flex;
    width:25%;
    height:25%;
}
#d{
    display:flex;
    width:25%;
    height:25%;
}
#e{
    display:flex;
    width:25%;
    height:25%;
}
#f{
    display:flex;
    width:25%;
    height:25%;
}
#spiderman{
    display:flex;
    width:25%;
    height:25%;
}